<template>
  <div>
    <el-row>
      <el-col :span="24">
        <div class="grid-content bg-purple-dark"></div>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col :span="12">
        <div class="grid-content bg-purple"></div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content bg-purple-light"></div>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col :span="8">
        <div class="grid-content bg-purple"></div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple-light"></div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple"></div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from 'axios';
import mock from '@/mock/mock.js';

export default {
    name: 'Home',

    methods: {
        textAxios() {
            axios.get('http://localhost:8080').then(resp => {
                alert(resp.data);
            });
        },
        getUser() {
            axios.get('http://localhost:8080/user').then(resp => {
                alert(JSON.stringify(resp.data));
            });
        },
        getMenu() {
            axios.get('http://localhost:8080/menu').then(resp => {
                alert(JSON.stringify(resp.data));
            });
        },
        changeLanguage(lang) {
            lang === '' ? 'zh_tw' : lang;
            this.$i18n.locale = lang;
            this.langVisable = false;
        }
    }
};
</script>

<style lang="scss" scoped>
.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>
