<template>
  <div class="home">
    <el-row>
      <el-col :span="24">
        <div class="grid-content bg-blue-dark"></div>
      </el-col>
    </el-row>
    <li class="fa fa-home fa-lg"></li>
    <el-button type="primary" @click="textAxios">測試 Axios 呼叫</el-button>
    <el-button type="primary" @click="getUser">取得用戶資料</el-button>
    <el-button type="primary" @click="getMenu">取得選單資料</el-button>
    <h3>{{$t('common.doc')}}</h3>
    <el-button type="success" @click="changeLanguage('zh_tw')">繁體中文</el-button>
    <el-button type="success" @click="changeLanguage('en_us')">English</el-button>
  </div>
</template>

<script>
import axios from 'axios';
import mock from '@/mock/mock.js';

export default {
    name: 'Home',

    methods: {
        textAxios() {
            axios.get('http://localhost:8080').then(resp => {
                alert(resp.data);
            });
        },
        getUser() {
            axios.get('http://localhost:8080/user').then(resp => {
                alert(JSON.stringify(resp.data));
            });
        },
        getMenu() {
            axios.get('http://localhost:8080/menu').then(resp => {
                alert(JSON.stringify(resp.data));
            });
        },
        changeLanguage(lang) {
            lang === '' ? 'zh_tw' : lang;
            this.$i18n.locale = lang;
            this.langVisable = false;
        }
    }
};
</script>

<style scoped>
</style>
