<template>
  <el-form :model="loginForm" ref="loginForm" label-width="0px" label-position="left" class="login-container">
    <h3 class="title">系統登入</h3>

    <el-form-item prop="account">
      <el-input type="text" v-model="loginForm.account" auto-complete="off" placeholder="帳號"></el-input>
    </el-form-item>

    <el-form-item prop="password">
      <el-input type="password" v-model="loginForm.password" auto-complete="off" placeholder="密碼"></el-input>
    </el-form-item>

    <el-form-item style="width:100%;">
      <el-button type="primary" style="width:48%;" @click.native.prevent="reset">重 置</el-button>
      <el-button type="primary" style="width:48%;" @click.native.prevent="login" :loading="loading">登錄</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import mock from '@/mock/mock.js';
import Cookies from 'js-cookie';
import router from '@/router';

export default {
    name: 'login',
    data: () => ({
        loading: false,
        loginForm: {
            account: '',
            password: ''
        }
    }),
    methods: {
        login() {
            console.log('click Login button ...');
            this.$api.login
                .login()
                .then(function(resp) {
                    alert('OK : ' + resp.token);
                    Cookies.set('token', resp.token); // 放置 token 到 Cookie
                    router.push('/'); // 登录成功，跳转到主页
                })
                .catch(function(resp) {
                    alert('Fail : ' + resp);
                });
        },

        reset() {
            this.$refs.loginForm.resetFields();
        }
    }
};
</script>

<style lang="scss" scoped>
.login-container {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
    .title {
        margin: 0px auto 40px auto;
        text-align: center;
        color: #505458;
    }
    .remember {
        margin: 0px 0px 35px 0px;
    }
}
</style>
